# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env*

# Tauri
src-tauri/target
src-tauri/WixTools
src-tauri/gen

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
